.input {
    background-image: url(../../assets/lupa.png);
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: 18px center;
    background-color: #f2f2f2;
    padding-left: 58px;
    font-size: 18px;
    width: 100%;
    height: 46px;
    border: none;
    border-radius: 10px;
}

.input:focus {
    outline: 2px solid #4f81ff;
    box-shadow: 0px 0px 5px 2px #4f81ff;
}